body{
    font-family: Merriweather;
    background-color:#1F332D ;
    color: #11A881;
    font-size: 18pt;
    line-height: 1.6;

}

h1,h2,h3,h4,h5,h6{
    font-family: Calistoga;
}
h1{
    font-size: 60pt;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

header{
    text-align: center;
    font-variant: small-caps;
}

/* HERO */
#hero, footer{
    background-color:#510C09;
    text-align: center;
    font-size: 1.3em;
    padding: 13px;
    border: 4px solid #8B2A27;
}
#hero img {
    width:300px;
}

/* BIO */
#bio{
    font-size: 18pt;
    text-align: center;
    padding: 15px;
}
#bio h2{
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

/* HOBBIES */
#hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#7EA66E;
    color: #8B2A27;
    border: 4px solid #8B2A27;
    padding: 15px;
    padding-left:40px;
    margin-bottom: 30px;
}

#hobbies h2{
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#hobbies ul {
    list-style-type: square;
    padding-left: 0;
}
#hobbies li {
    margin-bottom: 8px;
}
#hobbies li:hover {
    color: #510C09;
}

/* GALLERY */
#gallery{
    background-color:#510C09;
    border: 4px solid #8B2A27;
    padding: 15px;
    padding-left:40px;
    margin-bottom: 30px;
}
#gallery h2{
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
#gallery img{
    max-width: 100%;
    border: 5px solid #11A881;

}
#gallery figure{
    text-align: center;

}
/* TEXT */
#text{
    background-color:#7EA66E;
    color: #8B2A27;
    border: 4px solid #8B2A27;
    padding: 15px;
    padding-left:40px;
    margin-bottom: 30px;
}
#text h2{
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
#text div{
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom:2rem;
    max-width: 60rem;
    margin: 0 auto;
    clear:both;
}


#text div p:first-child::first-letter {
    color:#8B2A27;
    float:left;
    font-size: 3rem;
    padding: .2em;
    line-height: .3;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

/*TABLETS*/
@media screen and (min-width: 60em) {

    #gallery figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    #gallery figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:2rem;
        margin-left: 1rem;
    }

    #text div {
        max-width: 100%;
        columns: 40rem;
    }

}
/* LARGE SCREENS*/
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #gallery h2 {
        grid-column: 1/-1;
    }
    #gallery hr {
        display: none;
    }
    #gallery figure{
        display: block;
    }
}
