body{
    font-family: Merriweather;
    background-color:#1F332D ;
    color: #11A881;
    font-size: 18pt;
    line-height: 1.6;

}

h1,h2,h3,h4,h5,h6{
    font-family: Calistoga;
}
h1{
    font-size: 60pt;
}

header{
    text-align: center;
    font-variant: small-caps;
}

#hero, footer{
    background-color:#510C09;
    text-align: center;
    font-size: 1.3em;
    padding: 13px;
    border: 4px solid #8B2A27;
}
#hero img {
    width:300px;
}
#bio{
    font-size: 18pt;
    text-align: center;
    padding: 15px;
}
#hobbies{
    background-color:#7EA66E;
    color: #8B2A27;
    border: 4px solid #8B2A27;
    padding: 15px;
    padding-left:40px;
    margin-bottom: 30px;
}

#hobbies ul {
    list-style-type: square;
    padding-left: 60px;
}
#hobbies li {
    margin-bottom: 8px;
}
#hobbies li:hover {
    color: #510C09;
}
