body{
    font-family: Merriweather;
    background-color:#1F332D ;
    color: #11A881;
    font-size: 18pt;
    line-height: 1.6;

}

h1,h2,h3,h4,h5,h6{
    font-family: Calistoga;
}
h1{
    font-size: 60pt;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

header{
    text-align: center;
    font-variant: small-caps;
}


/* HERO */
#hero, footer{
    background-color:#510C09;
    text-align: center;
    font-size: 1.3em;
    padding: 13px;
    border: 4px solid #8B2A27;
}
#hero img {
    width:300px;
}

/* BIO */
#bio{
    font-size: 18pt;
    text-align: center;
    padding: 15px;
}
#bio h2{
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

/* HOBBIES */
#hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#7EA66E;
    color: #8B2A27;
    border: 4px solid #8B2A27;
    padding: 15px;
    padding-left:40px;
    margin-bottom: 30px;
}

#hobbies h2{
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#hobbies ul {
    list-style-type: square;
    padding-left: 0;
}
#hobbies li {
    margin-bottom: 8px;
}
#hobbies li:hover {
    color: #510C09;
}

/* GALLERY */
#gallery{
    background-color:#510C09;
    border: 4px solid #8B2A27;
    padding: 15px;
    padding-left:40px;
    margin-bottom: 30px;
}
#gallery h2{
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
#gallery img{
    max-width: 100%;
    border: 5px solid #11A881;

}
#gallery figure{
    text-align: center;

}
/* TEXT */
#text{
    background-color:#7EA66E;
    color: #8B2A27;
    border: 4px solid #8B2A27;
    padding: 15px;
    padding-left:40px;
    margin-bottom: 30px;
}
#text h2{
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
#text div{
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom:2rem;
    max-width: 60rem;
    margin: 0 auto;
    clear:both;
}


#text div p:first-child::first-letter {
    color:#8B2A27;
    float:left;
    font-size: 3rem;
    padding: .2em;
    line-height: .3;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

/*VID*/
#video {
    background-color: #510C09;
    border: 4px solid #8B2A27;
    padding: 15px;
    margin: 2rem auto;
    text-align: center;
    padding: 15px clamp(1rem, 5vw, 3rem);

}

#video h2 {
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

#myVideo {
    display: block;
    margin: 1.5rem auto;
    width: 100%;
    aspect-ratio: 16/9;
    border: 5px solid #11A881;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(17,168,129,0.6);
}

#video figcaption {
    margin-top: .7rem;
    font-size:  1.8rem;
    color: #11A881;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

#video figure {
    margin: 0;
}

/*CONTACT FORM*/
#formElements {
    display:grid;
    row-gap: 0.75rem;
}
#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}
fieldset {
    border: 2px solid #11A881;
    border-left: 4px solid #11A881;
    margin-top: 1em;
    margin-bottom: 1em;
}
#contact fieldset fieldset {
    background-color: #1F332D;
    color: #11A881;
    border-left: 4px solid #11A881;
    padding: .75rem;
}
legend {
    border: 2px solid #11A881;
    background-color: #510C09;
    padding: .5em;
}
#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
    border-radius: 4px;

}
#contact label {
    margin-top: .5rem;
    font-weight: bold;
}

#contact ul {
    list-style: none;
    padding: 0px;
}
#contact li {
    margin:.5 rem;
}
#contact input:focus {
    outline: none;
    border: 2px solid #11A881;
    box-shadow: 0 0 16px rgba(17,168,129,0.6);
}
#contact button {
    background-color:  #510C09;
    color: #11A881;
    border: 1px solid #11A881 ;
    border-radius: 8px;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}
#contact button:hover {
    background-color: #11A881;
    color: #510C09;
    border: 2px solid #8B2A27 ;
    transform: scale(1.2);
    box-shadow: 0 0 8px rgba(17,168,129,0.6);
}


/*TABLETS*/
@media screen and (min-width: 60em) {

    #gallery figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    #gallery figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:2rem;
        margin-left: 1rem;
    }

    #text div {
        max-width: 100%;
        columns: 40rem;
    }
    #formElements {
        grid-template-columns: 0.5fr 1fr;
        column-gap: 1rem;
    }
    #contact textarea, #contact fieldset, #contact button {
        grid-column: 1/-1;
    }
    #video figure {
        display: block;
        max-width: 1000px;
        margin: 0 auto;
    }

}
/* LARGE SCREENS*/
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #gallery h2 {
        grid-column: 1/-1;
    }
    #gallery hr {
        display: none;
    }
    #gallery figure{
        display: block;
    }
    #contact {
        max-width: 900px;
    }

}
